@use "../foundation/breakpoints" as *;
.l-grid{
  display: grid;
  grid-template-columns: 1fr;
  &--2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &--3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &--4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  &--5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &--6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  &--item{
    display:flex;
    flex-direction: column;
    &__head{
      margin-block-end: 1rem;
      @include breakpoints (md){
        margin-block-end: 2rem;
      }
    }
    &__body{
      flex: auto;
    }
    &__foot{
      margin-block-start: 1rem;
      @include breakpoints (md){
        margin-block-start: 2rem;
      }
    }
  }
}