@use "../../../foundation/breakpoints" as *;
.c-txt {
  font-weight: 500;
  line-height: 1.618em;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}
.c-txt{
  &__xl3 {
    @extend .c-txt;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .08em;
    @include breakpoints (sm){
      font-size: 3rem;
    }
  }
  &__xl2 {
    @extend .c-txt;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .08em;
    @include breakpoints (sm){
      font-size: 2.5rem;
    }
  }
  &__xl {
    @extend .c-txt;
    font-weight: 700;
    font-size: 1.5rem;
    @include breakpoints (sm){
      font-size: 2rem;
    }
  }
  &__lg {
    @extend .c-txt;
    font-weight: 700;
    @include breakpoints (sm){
      font-size: 1.5rem;
    }
  }
  &__md {
    @extend .c-txt;
    font-size: 0.9rem;
    @include breakpoints (sm){
      font-size: 1rem;
    }
  }
  &__sm {
    @extend .c-txt;
    font-size: 0.8333rem;
    font-weight: 400;
  }
  &__xs {
    @extend .c-txt;
    font-weight: 400;
    font-size: 0.75rem;
  }
  &__min {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.2em;
  }
  &__unit {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1em;
    letter-spacing: 0;
    display: inline-block;
    color: #888;
  }
  &__weak {color:var(--txt-weak);}
  &__light {color:var(--txt-light);}
  &__white {color:#fff;}
  &__main {color: var(--primary);
    &--light {
      color: var(--primary-light);
    }
    &--dark {
      color: var(--primary-dark);
    }
  }
  &__secondary {color: var(--secondary);
    &--light {
      color: var(--secondary-light);
    }
    &--dark {
      color: var(--secondary-dark);
    }
  }
  &__alert {
    color: var(--invalid);
    padding: .25rem .5rem;
    background-color: var(--invalid-light);
    border: var(--invalid-dark) 1px solid;
    line-height:1;
    border-radius:3px;
    display: inline-block;
  }
  &__ok {color: var(--valid);}
  &__weight{
    &--100 {font-weight: 100;}
    &--200 {font-weight: 200;}
    &--300 {font-weight: 300;}
    &--400 {font-weight: 400;}
    &--600 {font-weight: 600;}
    &--700 {font-weight: 700;}
    &--900 {font-weight: 900;}
  }
  &--center {text-align: center;}
  &--right {text-align: right;line-height:1;}
  &__height--1 {line-height: 1;}
  &__letter--0 {letter-spacing: 0;}
  &__space--wrap {white-space: pre-wrap;}
}
strong{
  color: var(--txt-strong);
  font-size: 1.2em;
}

// 単位の空き
.c-unit{
  &__before{margin:0 4px 0 0;}
  &__after{margin:0 0 0 4px;}
}